name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: Morethanworth/academy/.github/actions/maven_build@main
    - uses: Morethanworth/academy/.github/actions/docker_build@main
      with:
        path_dockerfile: src/main/docker/Dockerfile.jvm
        image_name: rafaelborges115/academia
        tag_name: v1
    - uses: Morethanworth/academy/.github/actions/docker_push@main

